@model DiplomaApp.Models.Marketplace
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlBase" class="control-label"></label>
                <input asp-for="UrlBase" class="form-control" />
                <span asp-validation-for="UrlBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlCategories" class="control-label"></label>
                <input asp-for="UrlCategories" class="form-control" />
                <span asp-validation-for="UrlCategories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XPathCategories" class="control-label"></label>
                <input asp-for="XPathCategories" class="form-control" />
                <span asp-validation-for="XPathCategories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XPathCategoryUrl" class="control-label"></label>
                <input asp-for="XPathCategoryUrl" class="form-control" />
                <span asp-validation-for="XPathCategoryUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttributeCategoryUrl" class="control-label"></label>
                <input asp-for="AttributeCategoryUrl" class="form-control" />
                <span asp-validation-for="AttributeCategoryUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XPathCategoryName" class="control-label"></label>
                <input asp-for="XPathCategoryName" class="form-control" />
                <span asp-validation-for="XPathCategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttributeCategoryName" class="control-label"></label>
                <input asp-for="AttributeCategoryName" class="form-control" />
                <span asp-validation-for="AttributeCategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XPathOffers" class="control-label"></label>
                <input asp-for="XPathOffers" class="form-control" />
                <span asp-validation-for="XPathOffers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XPathOfferUrl" class="control-label"></label>
                <input asp-for="XPathOfferUrl" class="form-control" />
                <span asp-validation-for="XPathOfferUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttributeOfferUrl" class="control-label"></label>
                <input asp-for="AttributeOfferUrl" class="form-control" />
                <span asp-validation-for="AttributeOfferUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XPathOfferName" class="control-label"></label>
                <input asp-for="XPathOfferName" class="form-control" />
                <span asp-validation-for="XPathOfferName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttributeOfferName" class="control-label"></label>
                <input asp-for="AttributeOfferName" class="form-control" />
                <span asp-validation-for="AttributeOfferName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XPathOfferPrice" class="control-label"></label>
                <input asp-for="XPathOfferPrice" class="form-control" />
                <span asp-validation-for="XPathOfferPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttributeOfferPrice" class="control-label"></label>
                <input asp-for="AttributeOfferPrice" class="form-control" />
                <span asp-validation-for="AttributeOfferPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XPathOfferPricePromotional" class="control-label"></label>
                <input asp-for="XPathOfferPricePromotional" class="form-control" />
                <span asp-validation-for="XPathOfferPricePromotional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttributeOfferPricePromotional" class="control-label"></label>
                <input asp-for="AttributeOfferPricePromotional" class="form-control" />
                <span asp-validation-for="AttributeOfferPricePromotional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XPathNextPageUrl" class="control-label"></label>
                <input asp-for="XPathNextPageUrl" class="form-control" />
                <span asp-validation-for="XPathNextPageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttributeNextPageUrl" class="control-label"></label>
                <input asp-for="AttributeNextPageUrl" class="form-control" />
                <span asp-validation-for="AttributeNextPageUrl" class="text-danger"></span>
            </div>