@model DiplomaApp.ViewModels.OfferIndex

@{
    ViewData["Title"] = "Товары";
}


<div>
    <h1>@ViewData["Title"]</h1>
    <div class="mt-3">
        @{ Html.RenderPartial("~/Views/Offers/PartialRender/IndexTable.cshtml", Model.Offers); }
    </div>
</div>


