@model DiplomaApp.ViewModels.MarketplaceDetails;

@{
    ViewData["Title"] = "Подробности";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Marketplace</h4>
    <hr />
    @{ Html.RenderPartial("~/Views/Marketplaces/PartialRender/DetailsForm.cshtml", Model.Marketplace); }
    <a asp-controller="Marketplaces" asp-action="GetCategories" asp-route-id="@Model.Marketplace.Id">Обновить категории</a>
    <br />
    <a asp-controller="Marketplaces" asp-action="GetOffers" asp-route-id="@Model.Marketplace.Id">Обновить предложения</a>
</div>
<div>
    @{ Html.RenderPartial("~/Views/Categories/PartialRender/IndexTable.cshtml", Model.Categories); }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Marketplace.Id">Изменить</a> |
    <a asp-action="Index">Назад к списку</a>
</div>
