@using DiplomaApp.Core
@model DiplomaApp.ViewModels.MarketplaceIndex

@{
    ViewData["Title"] = "Маркетплейсы";
}

<div>
    <h1>@ViewData["Title"]</h1>
    @if (User.IsInRole(Constants.administrator))
    {
        <div class="btn-group">
            <a class="btn btn-outline-primary form-control h-50 w-auto" asp-action="Create">Добавить маркетплейс</a>
            <a class="btn btn-outline-primary form-control h-50 w-auto" asp-action="GetOffersAllMarketplaces">Обновить все маркетплейсы</a>
        </div>
    }
    <div class="mt-3">
        @{ Html.RenderPartial("~/Views/Marketplaces/PartialRender/IndexTable.cshtml", Model.Marketplaces); }
    </div>
</div>