@model string
@if(Model != null)
{
<div>
    <div class="row">
        <div class="col">
            <div class="btn-group" role="group" aria-label="Период">
                <input type="radio" class="btn-check" name="chartPeriod" id="dayMin" autocomplete="off" onclick="updateChartMin(chart, dayAgo)"/>
                <label class="btn btn-outline-primary" for="dayMin">День</label>
                
                <input type="radio" class="btn-check" name="chartPeriod" id="weekMin" autocomplete="off" onclick="updateChartMin(chart, weekAgo)"/>
                <label class="btn btn-outline-primary" for="weekMin">Неделя</label>

                <input type="radio" class="btn-check" name="chartPeriod" id="monthMin" autocomplete="off" onclick="updateChartMin(chart, monthAgo)"/>
                <label class="btn btn-outline-primary" for="monthMin">Месяц</label>
            
                <input type="radio" class="btn-check" name="chartPeriod" id="yearMin" autocomplete="off" onclick="updateChartMin(chart, yearAgo)"/>
                <label class="btn btn-outline-primary" for="yearMin">Год</label>

                <input type="radio" class="btn-check" name="chartPeriod" id="creationMin" autocomplete="off" onclick="updateChartMin(chart, '')" checked/>
                <label class="btn btn-outline-primary" for="creationMin">Всё время</label>
            </div>
        </div>
    </div>
</div>
<div>
    <canvas id="offerPricesChart" height="100"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.18.1/min/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-adapter-moment/1.0.0/chartjs-adapter-moment.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-trendline"></script>
<script>
    moment.locale("ru");
    var now = moment().format();
    var dayAgo = moment().subtract(1, "days").format();
    var weekAgo = moment().subtract(7, "days").format();
    var monthAgo = moment().subtract(1, "months").format();
    var yearAgo = moment().subtract(1, "years").format();
    var datasets = JSON.parse('@Html.Raw(Model)');

    const ctx = document.getElementById('offerPricesChart').getContext('2d');
    var chart = new Chart(ctx, {
         type: 'line',
         data: {
             datasets: datasets,
         },
         options: {
             scales: {
                 x: {
                    max: now,
                    type: 'time',
                    time: {
                      tooltipFormat: 'DD MMM YYYY HH:mm:ss',
                      displayFormats: {
                            day: 'DD.MM.YYYY',
                            hour: 'DD MMM HH:mm',
                            minute: 'DD MMM HH:mm',
                            second: 'DD MMM HH:mm:ss'
                      }
                    }
                  },
             },
         }          
     });
    onload = function()
    {
        chart.render();
    }
    function updateChartMin(chart, minDate)
    {
        chart.options.scales.x.min = minDate;
        chart.update();
    }
</script>
}