@model DiplomaApp.ViewModels.CategoryIndex

@{
    ViewData["Title"] = "Категории";
}

<div>
    <h1>@ViewData["Title"]</h1>
    <div>
        @{ Html.RenderPartial("~/Views/Categories/PartialRender/IndexTable.cshtml", Model.Categories); }
    </div>
</div>
