@model X.PagedList.IPagedList<DiplomaApp.ViewModels.CategoryIndex>

@{
    ViewData["Title"] = "Категории";
}

<h1>@ViewData["Title"]</h1>

<div>
    @{ Html.RenderPartial("~/Views/Categories/PartialRender/IndexTable.cshtml", Model); }
</div>
